# Making our own Multiple Linear Regression Class

## Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

## Getting the dataset

In [2]:
df = pd.read_csv("C:\\Users\\haria\\OneDrive\\Desktop\\Machine-Learning\\Linear Regression\\Multiple Linear Regression\\Student_Performance.csv")

In [3]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

## Formatting the data

In [4]:
binary_col=['Extracurricular Activities']

In [5]:
df[binary_col]=df[binary_col].replace({'Yes':1,"No":0})

## Splitting the dataset

In [6]:
X=df.drop(columns='Performance Index')
y=df['Performance Index']

In [7]:
X=X.to_numpy()

In [8]:
y=y.to_numpy()

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
print(f"Shape of training data: {X_train.shape}")
print(f"Shape of testing data: {X_test.shape}")

Shape of training data: (8000, 5)
Shape of testing data: (2000, 5)

## Making Multiple Linear Regression Class

In [11]:
class MultipleLR():
    
    def __init__(self):
        self.coef_=None
        self.intercept_=None
    
    def fit(self,X_train,y_train):
        X_train = np.insert(X_train,0,1,axis=1)
        
        betas = np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
        self.intercept_=betas[0]
        self.coef_=betas[1:]
    
    def predict(self,X_test):
        y_pred=np.dot(X_test,self.coef_) + self.intercept_
        return y_pred

## Fitting the data into the Multiple Linear Regression Class

In [12]:
linearReg = MultipleLR()

In [13]:
X_train.shape

(8000, 5)

In [14]:
linearReg.fit(X_train,y_train)

In [15]:
y_pred=linearReg.predict(X_test)

In [16]:
r2_score(y_test,y_pred)

0.9889832909573146

In [17]:
linearReg.coef_

array([2.85248393, 1.0169882 , 0.60861668, 0.47694148, 0.19183144])

In [18]:
linearReg.intercept_

-33.921946215556574